# Rust
backend/target/
backend/Cargo.lock
backend/*.db
backend/*.db-journal
debug/
**/*.rs.bk
*.pdb

# cargo mutants
**/mutants.out*/

# Elm
frontend/elm-stuff/
frontend/node_modules/
frontend/static/elm.js

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
.DS_Store
